# Dependencies
node_modules
client/node_modules/
server/node_modules/

# Environment Variables
.env
*.env
client/.env
server/.env
.env.local
.env.development
.env.production

# Build folders
client/dist/
client/dev-dist/
server/dist/
build/
.next/

# Scratch/debug files
client/tmp*.json

# Misc
.DS_Store
